.custom-img {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: 20rem !important;
}

.texto {
    font-size: 0.9rem;
    color: rgb(79, 79, 79);
    text-align: justify;
}
