.link {
    color: rgb(79, 79, 79);
    text-align: justify;
}

.link:hover {
    text-decoration: none;
}

.linkMeta {
    color: rgb(79, 79, 79);
    font-weight: bold;
}

.linkMeta:hover {
    text-decoration: none;
    font-weight: bold;
}
