.icono {
    color: black;
    height: 2rem;
    width: 2rem;
}

.iconoNews {
    color: black;
    height: 1.5rem;
    width: 1.5rem;
}

.link {
    text-decoration: none;
    padding-inline: 0.5rem;
    font-family: Lato;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    color: inherit;
}

.link:hover {
    text-decoration: none;
}
