.logo {
    width: 10rem;
    height: 3rem;
}

.navItem {
    padding-right: 1rem;

    .categoria {
        color: black;
        font-family: Lato;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        font-weight: 400;
        font-style: italic;
    }

    .categoria:hover {
        cursor: pointer;
    }
}

.botonBocas {
    color: white;
    background-color: #31684D;
    font-family: Lato;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    font-style: italic;
    display: inline-flex;
    align-items: flex-end;
    justify-content:center; 
    width: 10rem;
}

.botonBocas:hover{
    color: white;
    text-decoration: none;
}

.icono {
    color: black;
    height: 2rem;
    width: 2rem;
}
