.destacado {
    border-width: 0px;
    min-height: 23rem;
    background-color: #f3f3f3;

    .colImage {
        height: 23rem;
        padding: 0;

        .image {
            width: 100%;
            height: 23rem;
            object-fit: cover;
        }
    }

    .colTexto {
        height: auto;
        //background-color: #f3f3f3;
        padding-left: 2.25rem;
        padding-right: 3.75rem;

        .espacioTitulo {
            //min-height: 5rem;
            margin-inline: 0;

            .titulo {
                font-weight: 500;
            }
        }

        .espacioResumen {
            //min-height: 6rem;
            margin-inline: 0;
            padding-bottom: 0.5rem;

            .resumen {
                color: gray;
                font-weight: 400;
                font-size: 0.85rem;
                line-height: 1.25rem;
                text-align: justify;
            }
        }

        .espacioMeta {
            //min-height: 1.75rem;
            margin-inline: 0;
            padding-bottom: 0.25rem;
            .meta {
                color: black;
                font-weight: 400;
                font-size: 1rem;
                line-height: 0.5rem;
            }

            .metaSub {
                color: gray;
                font-weight: 500;
                font-size: 0.95rem;
                line-height: 0.1rem;
            }
        }
    }
}

.link {
    text-decoration: none;
}
.link:hover {
    color: #0645ad;
    text-decoration: none;
}
.linkMeta {
    text-decoration: none;
    font-weight: bold;
}
.linkMeta:hover {
    color: #0645ad;
    text-decoration: none;
    font-weight: bold;
}
