.imgDestacados {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  margin: 0px;
}

.cardCustom {
  border: 0px;

  .a:hover {
    text-decoration: none;
  }

  .spam:hover {
    text-decoration: none;
  }
}
