.imgDestacados {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  margin: 0px;
}

.a {
  text-decoration: none;
}

.cardCustom {
  background-color: #f3f3f3;
  border: 0px;
}
